* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-surface-muted);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, select, textarea, button {
  font-family: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  a:where(:not(.no-animation)):nth-child(2n) {
    animation: link-animation 2s infinite power-in power-out alternate;
  }
}

@keyframes link-animation {
  0% {
    color: var(--color-link);
  }
  50% {
    color: var(--color-link-alt);
  }
  100% {
    color: var(--color-link);
  }
}
